.main-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-div {
  width: 60%;
  height: 80vh;
  background: -webkit-linear-gradient(left, #a40313, white);
  padding: 2px 0 0 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

h1 {
  font-size: 30px;
  color: #000;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 10px 29px 0 rgba(0, 0, 0, 0.3);
  margin: auto;
}

th,
td {
  border: 1px solid #f2f2f2;
  padding: 8px 30px;
  text-align: center;
  color: grey;
}
th {
  text-transform: uppercase;
  font-weight: 500;
}
td {
  font-size: 13px;
}
